TestEshop/TestEshop.Client/Connected Services/SupplierServiceReference/SupplierService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestEshop.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestEshop.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Supplier" nillable="true" type="tns:Supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplier" nillable="true" type="tns:ArrayOfSupplier" />
  <xs:complexType name="Supplier">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseTable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Supplier_Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Supplier_Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Supplier" nillable="true" type="tns:Supplier" />
  <xs:complexType name="BaseTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseTable" nillable="true" type="tns:BaseTable" />
</xs:schema>