TestEshop/TestEshop.Client/Connected Services/SupplierServiceReference/SupplierService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SupplierService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/TestEshop/SupplierService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/TestEshop/SupplierService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/TestEshop/SupplierService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestEshop.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISupplierService_GetAllSuppliers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSuppliers" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_GetAllSuppliers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_GetSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_GetSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_InsertSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_InsertSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_DeleteSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_DeleteSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_UpdateSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_UpdateSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierResponse" />
  </wsdl:message>
  <wsdl:portType name="ISupplierService">
    <wsdl:operation name="GetAllSuppliers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/GetAllSuppliers" message="tns:ISupplierService_GetAllSuppliers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/GetAllSuppliersResponse" message="tns:ISupplierService_GetAllSuppliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/GetSupplier" message="tns:ISupplierService_GetSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/GetSupplierResponse" message="tns:ISupplierService_GetSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/InsertSupplier" message="tns:ISupplierService_InsertSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/InsertSupplierResponse" message="tns:ISupplierService_InsertSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/DeleteSupplier" message="tns:ISupplierService_DeleteSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/DeleteSupplierResponse" message="tns:ISupplierService_DeleteSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/UpdateSupplier" message="tns:ISupplierService_UpdateSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/UpdateSupplierResponse" message="tns:ISupplierService_UpdateSupplier_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SupplierService" type="tns:ISupplierService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSuppliers">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/GetAllSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplier">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/GetSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSupplier">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/InsertSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/DeleteSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/UpdateSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupplierService">
    <wsdl:port name="SupplierService" binding="tns:SupplierService">
      <soap:address location="http://localhost:8733/TestEshop/SupplierService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>