TestEshop/TestEshop.Client/Connected Services/SupplierServiceReference/SupplierService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/TestEshop/SupplierService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestEshop.Models" />
  <xs:element name="GetAllSuppliers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSuppliersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestEshop.Models" minOccurs="0" name="GetAllSuppliersResult" nillable="true" type="q1:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TestEshop.Models" minOccurs="0" name="GetSupplierResult" nillable="true" type="q2:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TestEshop.Models" minOccurs="0" name="p" nillable="true" type="q3:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TestEshop.Models" minOccurs="0" name="p" nillable="true" type="q4:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>